{% extends 'base.html' %}
{% load static %}
{% load olympic_tags %}
{% block contents %}

    <div class="row" >
        <div class="col-md-offset-3 col-md-6 alert alert-success bold"  >Привет {{ request.session.captain }}, Команда: {{ request.session.team_name }}   [ <a href="/logout">Выйти</a> ]</div>
    </div>
    <div class="row" >
        <div class="col-md-offset-3 col-md-6 alert alert-danger"  >Инфо панель о 10вбитых кодах</div>
    </div>
    <div class="row" >
        <form method="POST" action="/sendcode">{% csrf_token %}
            <div class="col-md-offset-3 col-md-6 input-group ">
                  <input type="text" class="form-control" name="{{ form.code.name }}" placeholder="Код сюда.."  required>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Отправить</button>
                  </span>
            </div>
        </form>
    </div>
        <table valign="middle"  align="center" width="51%">
            <tr>
                {% for item in col_count|times %}
                    <td>
                    <div class="flexcontainer">
                        {% for jtem in cycles|show_element:forloop.revcounter0 %}
                            <div class="flexdiv"> {{ codes|ins_code:1}} </div>
                        {% endfor %}
                    </div>
                    </td>
                {% endfor %}

            </tr>
        </table>

    <div class="row"><br>
        <div class="col-md-offset-3 col-md-6 ">
            <table border="0px" width="100%" >
                <tr>
                    {% autoescape off %}  {{ answer_table }}  {% endautoescape off %}
                </tr>
            </table>
        </div>
    </div>

{% endblock %}