{% extends 'base.html' %}
{% load static %}
{% load olympic_tags %}
{% block contents %}

    <div class="row" >
        <div class="col-md-12"  >Привет {{ request.session.captain }}, Команда: {{ request.session.team_name }}   [ <a href="/logout">Выйти</a> ]</div>
    </div>
    {%  if lastcodes %}
    <div class="row" >
        <div class="col-md-12"  > {% for item in lastcodes %}
           {{ forloop.counter }}: {{ item }}<br>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if final_code %}
    <div class="row">
        <div class="col-md-12">
           Финальный код: {{ final_code }}
        </div>
    {%  endif %}
    </div>
    {% if not game_stop_date %}
        <div class="row" >
            <form method="POST" action="/sendcode">{% csrf_token %}
                <div class=" col-md-6 col-md-offset-3  input-group ">
                      <input type="text" class="form-control" name="{{ form.code.name }}" placeholder="Код сюда.."  size="20" required>
                      <span class="input-group-btn  input-group ">
                        <button class="btn btn-default" type="submit">Отправить</button>
                      </span>
                </div>
            </form>
        </div>
    {% endif %}

    {% if game_stop_date %}
        <div class="row" >
                <div class=" col-md-12">
                    <p style="text-align: center">Игра ЗАКРЫТА {{ game_stop_date }}</p>
                </div>
        </div>
    {% endif %}
      <div class="row" >
          <div class="col-md-12">
              <table valign="middle"  align="center" width="90%">
                  <tr>
                    {% for item in col_count|times %}
                        <td>
                        <div class="flexcontainer">
                            {% for jtem in cycles|show_element:forloop.revcounter0 %}
                                <div class="flexdiv"> {{ check_codes|ins_code:1}} </div>
                            {% endfor %}
                        </div>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
      </div>


{% endblock %}