.wrap {
    position: fixed;
    height: 100%;
    width: 100%;
}

.container {
    font-family: Roboto, sans-serif;
}

.bold {
    font-weight: bold;
}

.white-link a
    a:visited
a:active{
    color: #ffffff;
}


.grey {
    background-color: grey;
}

.white {
    background-color: white;
}

.flexcontainer {
    border: 0px solid black;
    height: 750px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}

.flexdiv {
    border: 1px solid black;
    text-align: center;
    margin: 2px;
    vertical-align: middle;
    font-family: Verdana;
    flex: 1;
}

td {
    padding: 2px;
    }